*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}



/* color comminication */


.color-fit{
    color: rgb(255, 128, 0);
}

.btn{
    background-color:rgb(255, 128, 0) ;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: #000;

}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    color: black;
    margin-bottom: 30px;

}

.section-heading p{
    font-size: 16px;
    color: rgb(93, 93, 93);
    margin-bottom: 30px;
}


/* main style */


.logo h2{
    font-size: 45px;    
}

ul li{
    list-style-type: none;
}

header{
    background-color: #fff8f3;
    background: url(../images/developer.png) , url(../images/header_bg.png) , #fff8f3;
    background-position: top left, bottom right ;
    background-repeat: no-repeat;
    padding-top: 30px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    gap: 40px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: black ;
    text-decoration: none;
}

#top-banner{
    /* border: 1px solid red ; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#top-banner .banner-content h1{
    font-size: 75px;
    font-weight: 900;
    color: #000;
    margin-bottom: 20px;
}

#top-banner .banner-content p{
    font-size: 18px;
    font-weight: 500;
    color: #494949;
    line-height: 30px;
    margin-bottom: 30px;
    
}

#top-banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}


#about, #siklls, #resume{
    padding-top: 130px;
    
}

#about .about-content{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 132px 128px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px #e9e9e9;
}

#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{

    font-size: 16px;
    color: rgb(93, 93, 93);

}

/* #siklls{
    padding-top: 130px;
} */

#siklls .skills-content{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}


#siklls .skills-content .skills-box{
    display: flex;
    gap: 24px;
}


.skills-box .siklls-card{
    padding: 30px;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0 #dddddd;
    max-width: 267px;
}

.siklls-card img{
    max-width: 44px;
    margin-bottom: 30px;
    border-radius: 5px;

}

.siklls-card h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.siklls-card p{
    font-size: 18px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

#resume .resume-content{
    width: 71%;
    max-width: 1140px;
    margin: 130px auto 0;
    display: flex;
    gap: 24px;
}

.resume-content .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 30px;
}

.resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 20px;
    color: #737373;
    margin-bottom: 10px;
    
}

.resume-card .card-text{
    font-size: 16px;
    color: #909090;
     line-height: 28px;
}


hr{
    margin: 25px 0;
}

.bot{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}



